.about {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
  padding-bottom: 100px;
  gap: 100px;

  @include vp-1023 {
    gap: 29px;
    max-width: 678px;
    padding: 0 4px 80px 0;
  }

  @include vp-767 {
    gap: 0;
    width: 270px;
  }
}

.about__image-wrapper {
  min-width: 150px;
  height: 320px;

  @include vp-767 {
    display: none;
  }
}

.about__inner {
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    margin-top: -5px;
  }
}

.about__title {
  font-family: $font-robotocondensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-black-pearl;
  margin: 0 0 13px;

  @include vp-1023 {
    margin: 0 0 12px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin: 2px 0 13px;
  }
}

.about__description-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  word-break: break-word;

  & p {
    font-family: $font-ptmono;
    font-size: 16px;
    line-height: 136%;
    color: $color-black-pearl;
    margin: 0;
  }

  @include vp-1023 {
    margin-bottom: 17px;
  }

  @include vp-767 {
    margin-bottom: 13px;

    & p {
      font-size: 14px;
      line-height: 134.4%;
    }
  }
}

.about__description-list .about__description {
  &--top {
    margin-bottom: 22px;
  }

  &--bottom {
    margin-top: -1px;
  }

  &--show {
    margin-top: 22px;
  }

  @include vp-767 {
    &--top {
      margin-bottom: 21px;
    }

    &--bottom {
      margin-top: 21px;
    }

    &--show {
      margin-top: 21px;
    }
  }
}

.about__button {
  width: 180px;
  padding: 14px 13px 13px 12px;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  font-family: $font-robotocondensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-deep-sky-blue;
  background-color: inherit;
  cursor: pointer;

  @include vp-767 {
    width: 160px;
    padding: 8px 15px 9px;
  }

  @include hover {
    background-color: $color-deep-sky-blue;
    color: $color-alice-blue;

    &:active {
      background-color: $color-pacific-blue;
    }
  }

  &:disabled {
    background-color: $color-dimgrey;
    color: $color-linen;
    border-color: $color-linen;
    opacity: 1;
    cursor: auto;

    @include hover-focus {
      border-color: $color-linen;
      color: $color-linen;
      background-color: $color-dimgrey;

      &:active {
        border-color: $color-linen;
        color: $color-linen;
        background-color: $color-dimgrey;
      }
    }
  }
}
