.advantages__list {
  display: grid;
  list-style-type: none;
  grid-template-columns: vw-desktop(595px) vw-desktop(595px);
  grid-template-rows: 300px 300px;
  padding: 120px 0;
  margin: 0;
  justify-content: center;
  gap: 30px 31px;

  @include vp-1023 {
    grid-template-columns: 320px 320px;
    grid-template-rows: 360px 360px;
    padding: 80px 0;
    gap: 30px;
  }

  @include vp-767 {
    width: vw-mobile(270px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }
}

.advantages__item {
  padding: 40px 40px 35px;
  outline: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;

  @include hover {
    background-color: $color-deep-sky-blue;

    & .advantages__title {
      color: $color-alice-blue;
    }

    & .advantages__description {
      color: $color-alice-blue;
    }

    & .advantages__image {
      color: $color-alice-blue;
    }
  }

  @include vp-1023 {
    padding: 40px 30px 32px 40px;
  }

  @include vp-767 {
    padding: 30px 30px 35px 25px;
    height: 340px;

    &--bottom {
      height: 325px;
    }
  }
}

.advantages__image {
  color: $color-deep-sky-blue;

  &--detective {
    margin-left: -5px;

    @include vp-1023 {
      margin: 0;
    }
  }

  @include vp-767 {
    width: 30px;
    height: 30px;
  }
}

.advantages__title {
  color: $color-deep-sky-blue;
  font-family: $font-robotocondensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  margin: 13px 0 14px;

  @include vp-1023 {
    margin: 9px 0;

    &--detective {
      margin: 7px 0 8px;
    }

    &--tag {
      margin: 4px 0 6px;
    }
  }

  @include vp-767 {
    font-size: 20px;

    &--detective {
      margin: 12px 0 14px;
    }

    &--tag {
      margin: 12px 0 14px;
    }
  }
}

.advantages__description {
  display: block;
  min-height: 120px;
  font-family: $font-ptmono;
  font-size: 16px;
  line-height: 135%;
  color: $color-black-pearl;

  @include vp-1023 {
    min-height: 160px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}
