.form {
  background: $color-deep-sky-blue;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 1920px;
    height: 840px;
    top: -110px;
    left: -990px;
    background: $color-cerulean;
    transform: rotate(-40.8deg);

    @include vp-1023 {
      display: none;
    }
  }
}

.form__inner {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 170px 0 250px;
  z-index: 2;
  margin-top: -2px;

  @include vp-1023 {
    padding: 50px 0 125px;
    justify-content: center;
  }

  @include vp-767 {
    padding: 50px 0 105px;
  }
}

.form__image-wrapper {
  min-width: 510px;

  & img {
    padding: 78px 0 59px;
  }

  @include vp-1023 {
    display: none;
  }
}

.form__container {
  max-width: 580px;
  margin-right: 10px;
  width: 100%;

  @include vp-1023 {
    min-width: 670px;
    margin: 0;
  }

  @include vp-767 {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 270px;
    max-width: 100%;
  }
}

.form__title {
  margin: 0 0 16px -5px;
  font-family: $font-robotocondensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: $color-default-white;

  @include vp-1023 {
    margin: 0 0 11px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 141%;
    margin: -1px 0 8px;
  }
}

.form__description {
  margin: 0 0 36px;
  font-family: $font-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-default-white;

  @include vp-1023 {
    margin: 0 0 26px 0;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 134%;
    margin: 0 0 33px 0;
  }
}

.form__content {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-template-rows: 50px 170px 45px;
  row-gap: 20px;
  column-gap: 30px;
  grid-template-areas:
    "name phone"
    "textarea textarea"
    "button checkbox";

  @include vp-767 {
    grid-template-columns: 270px;
    grid-template-rows: 50px 50px 180px 45px 30px;
    grid-template-areas:
      "name "
      "phone"
      "textarea"
      "button"
      "checkbox";
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  & input {
    width: 100%;
    border: none;
    padding: 13px 15px 15px;
    border-radius: 3px;
    background: $color-swamp;
    color: $color-default-white;
    font-family: $font-ptmono;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    &::placeholder {
      color: $color-default-white;
      font-family: $font-ptmono;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
  }

  & textarea {
    width: 100%;
    border: none;
    padding: 23px 15px 88px;
    border-radius: 3px;
    background: $color-swamp;
    color: $color-default-white;
    font-family: $font-ptmono;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    &::placeholder {
      color: $color-default-white;
      font-family: $font-ptmono;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &--name {
    grid-area: name;
  }

  &--phone {
    grid-area: phone;
  }

  &--textarea {
    grid-area: textarea;
  }

  &--button {
    grid-area: button;

    & input {
      background-color: $color-black-pearl-2;
      text-transform: uppercase;
      font-family: $font-robotocondensed;
      font-weight: 700;
      font-size: 16px;
      line-height: 15px;
      letter-spacing: 0.05em;
      cursor: pointer;
      padding: 17px 15px 13px;
      max-width: 265px;
      width: 100%;

      @include vp-767 {
        max-width: 270px;
      }

      @include hover-focus {
        background-color: $color-rhino;

        &:active {
          background-color: $color-alice-blue;
          color: $color-black-pearl-2;
        }
      }

      &:disabled {
        background-color: $color-dimgrey;
        color: $color-linen;
        border-color: $color-linen;
        opacity: 1;
        cursor: auto;

        @include hover-focus {
          border-color: $color-linen;
          color: $color-linen;
          background-color: $color-dimgrey;

          &:active {
            border-color: $color-linen;
            color: $color-linen;
            background-color: $color-dimgrey;
          }
        }
      }
    }
  }

  &--checkbox {
    display: flex;
    gap: 11px;
    align-items: center;
    grid-area: checkbox;
    margin: 13px 0 0 10px;
  }

  @include vp-1023 {
    & textarea {
      padding: 30px 15px 81px;
    }

    &--button {
      & input {
        padding: 18px 15px 12px;
      }
    }

    &--checkbox {
      gap: 10px;
      margin: 6px 0 0 0;
    }
  }

  @include vp-767 {
    & textarea {
      padding: 23px 15px 113px;
    }

    &--button {
      & input {
        padding: 17px 15px 13px;
        width: 270px;
        margin-top: 10px;
      }
    }

    &--checkbox {
      gap: 11px;
      margin: 31px 5px 0;
    }
  }
}

.form__checkbox-in {
  position: relative;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  min-width: 15px;
  height: 15px;
  cursor: pointer;

  @include vp-1023 {
    margin-top: -3px;
  }

  @include vp-767 {
    height: 14px;
  }

  @include hover-focus {
    border-color: $color-apricot;

    &:active {
      border-color: $color-vermilion;
    }

    & .form__checkbox-icon {
      color: $color-apricot;

      &:active {
        color: $color-vermilion;
      }
    }
  }
}

.form__checkbox-icon {
  position: absolute;
  top: -7px;
  left: 2px;
  color: $color-default-white;

  @include vp-1023 {
    line-height: 0;
    top: 3px;
    left: 1.4px;
  }

  @include vp-767 {
    left: 1px;
  }
}

.form__checkbox-text {
  font-family: $font-ptmono;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  margin: 0;
  opacity: 0.8;
  margin-bottom: -4px;
  max-width: 234px;
  width: 100%;

  @include vp-1023 {
    margin-bottom: 0;
  }
}
