.logo {
  color: $color-alice-blue;

  @include hover-focus {
    color: $color-deep-sky-blue;

    &:active {
      color: $color-pacific-blue;
    }
  }

  @include vp-767 {
    display: none;

    &--footer {
      display: block;
    }
  }
}

.logo-mobile {
  display: none;

  @include vp-767 {
    display: block;
    color: $color-deep-sky-blue;
  }

  @include hover-focus {
    color: $color-alice-blue-2;

    &:active {
      color: $color-pacific-blue;
    }
  }
}
