.page-header {
  width: vw-desktop(1920px);
  background: $header-background;
  min-height: 120px;
  position: fixed;
  z-index: 3;

  @include vp-1023 {
    width: vw-tablet(770px);
    min-height: 100px;
  }

  @include vp-767 {
    width: vw-mobile(320px);
    min-height: 70px;
  }
}

.page-header__inner {
  width: vw-desktop(1220px);
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  padding-right: 60px;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1023 {
    padding-top: 20px;
    padding-right: 20px;
    width: vw-tablet(670px);
  }

  @include vp-767 {
    padding-top: 15px;
    padding-right: 9px;
    width: vw-mobile(268px);
  }
}

.page-header__logo {
  line-height: 0;
}

.page-header__logo-desktop {
  color: $color-alice-blue;

  @include hover-focus {
    color: $color-deep-sky-blue;

    &:active {
      color: $color-pacific-blue;
    }
  }

  @include vp-767 {
    display: none;
  }
}

.page-header__logo-mobile {
  display: none;

  @include vp-767 {
    display: block;
    color: $color-deep-sky-blue;
  }

  @include hover-focus {
    color: $color-alice-blue-2;

    &:active {
      color: $color-pacific-blue;
    }
  }
}

.page-header__contacts {
  display: flex;
  margin: 0;
  padding: 15px 13px 20px 7px;
  list-style-type: none;
  width: vw-desktop(480px);
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  @include vp-1023 {
    width: 100px;
    padding: 10px 10px 25px;
  }

  @include vp-767 {
    padding: 5px 10px 10px;
  }
}

.page-header__contacts-link {
  display: flex;
  gap: 15px;


  @include hover-focus {
    & .page-header__contacts-text {
      color: $color-deep-sky-blue;
    }

    &:active {
      & .page-header__contacts-text {
        color: $color-pacific-blue;
      }

      & .page-header__contacts-image {
        color: $color-pacific-blue;
      }
    }
  }

  @include vp-767 {
    @include hover-focus {
      & .page-header__contacts-text {
        color: $color-deep-sky-blue;
      }

      & .page-header__contacts-image {
        color: $color-alice-blue-2;
      }

      &:active {
        & .page-header__contacts-text {
          color: $color-pacific-blue;
        }

        & .page-header__contacts-image {
          color: $color-pacific-blue;
        }
      }
    }
  }
}

.page-header__contacts-image {
  color: $color-deep-sky-blue;
}

.page-header__contacts-text {
  font-family: $font-ptmono;
  font-size: 16px;
  line-height: 18px;
  color: $color-alice-blue;
  white-space: nowrap;

  @include vp-1023 {
    display: none;
  }
}

.page-header__button {
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  font-family: $font-robotocondensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: $color-alice-blue;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 160px;
  text-align: center;
  white-space: nowrap;
  height: 40px;
  background-color: inherit;
  cursor: pointer;

  @include hover-focus {
    color: $color-deep-sky-blue;
    border-color: $color-deep-sky-blue;

    &:active {
      color: $color-pacific-blue;
      border-color: $color-pacific-blue;
    }
  }

  @include vp-1023 {
    display: none;
  }

  @include hover-focus {
    opacity: 0.9;
  }
}
