.page-footer {
  background-color: $color-black-pearl;
}

.page-footer__inner {
  width: vw-desktop(1220px);
  margin: 0 auto;
  display: flex;
  padding: 50px 0 55px;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1023 {
    width: vw-tablet(680px);
    flex-direction: column;
    padding: 50px 0 65px 5px;
    gap: 35px;
  }

  @include vp-767 {
    padding: 35px 0;
    width: 100%;
    gap: 0;
    align-items: center;
  }
}

.page-footer__top {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include vp-1023 {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 0;
    justify-content: space-between;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 0;
    gap: 15px;
    border-bottom: 1px solid $color-azure;
    padding-bottom: 24px;
  }
}

.page-footer__logo {
  display: flex;
  gap: 15px;
  width: 215px;
  align-items: center;
  color: $color-alice-blue;

  @include hover-focus {
    color: $color-deep-sky-blue;

    &:active {
      color: $color-pacific-blue;
    }
  }

  @include vp-767 {
    margin-right: 5px;
  }
}

.page-footer__social-links {
  width: 150px;
  margin: 0;
  display: flex;
  padding: 5px;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;

  @include vp-1023 {
    padding: 0 5px 5px;
    margin-left: 4px;
  }

  @include vp-767 {
    padding: 5px;
  }
}

.page-footer__social-item {
  height: 30px;
}

.page-footer__social-link {
  line-height: 0;
  display: inline-block;
}

.page-footer__social-icon {
  color: $color-alice-blue-2;

  @include hover-focus {
    color: $color-deep-sky-blue;

    &:active {
      color: $color-pacific-blue;
    }
  }
}

.page-footer__links-wrapper {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: vw-desktop(845px);


  @include vp-1023 {
    width: 100%;
    margin: 0;
    padding-right: 5px;
  }

  @include vp-767 {
    width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
}

.page-footer__links {
  @include vp-767 {
    position: relative;
    width: 100%;
    border-bottom: 1px solid $color-azure;
    padding: 20px 0 19px;
  }

  &--navigation {
    width: vw-desktop(470px);

    @include vp-1023 {
      width: vw-tablet(220px);
    }
  }

  &--contacts {
    width: vw-desktop(345px);

    @include vp-1023 {
      width: vw-tablet(320px);
    }
  }
}

.page-footer__list-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @include vp-1279 {
    flex-direction: column;
  }

  @include vp-767 {
    margin-top: 15px;
    align-items: center;
  }
}

.page-footer__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 10px;

  @include vp-767 {
    align-items: center;
    margin-bottom: -3px;

    &--contacts {
      margin-top: 15px;
    }
  }
}

.page-footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: $font-robotocondensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;

  @include vp-767 {
    margin-bottom: 0;
    text-align: center;

    &--navigation {
      padding-right: 155px;
    }

    &--contacts {
      padding-right: 195px;
    }
  }
}

.page-footer__item {
  opacity: 0.7;
  line-height: 20px;
  font-family: $font-ptmono;
  font-size: 16px;
  color: $color-default-white;

  &--address {
    @include vp-767 {
      margin-bottom: 8px;
    }
  }

  &--navigation {
    width: vw-desktop(220px);
  }

  @include vp-767 {
    width: 270px;
    font-size: 14px;
  }
}

.page-footer__link {
  display: inline-block;
  font-family: $font-ptmono;
  font-size: 16px;
  color: $color-default-white;
  line-height: 20px;

  @include hover-focus {
    color: $color-deep-sky-blue;

    &:active {
      color: $color-pacific-blue;
    }
  }

  @include vp-1023 {
    white-space: nowrap;
  }

  @include vp-767 {
    font-size: 14px;
  }
}

.page-footer__button {
  display: none;

  @include vp-767 {
    position: absolute;
    top: 20px;
    right: 26px;
    display: block;
    background-color: inherit;
    border: none;
    padding: 0;
  }
}
